body {
  font-family: 'Muli', sans-serif;
}

.main-container {
  margin: 50px auto;
  padding: 30px 10px;
  background-size:cover;
  max-width: 1000px;
  color: #fff;
  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.location {
  text-align: center;
  font-size: 40px;
  margin: 3px;
}


.date {
    text-align: center;
    margin: 0px;
}

.time {
    text-align: center;
    margin: 0px;
}

/*Toggle class*/

.tog-c {
  display: none;
}

/*Current Day Weather*/

.flex-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid rgb(255, 255, 255) 1px;
  width: 75%;
  margin: 0 auto;
}

.flex-3 {
  display: flex;
  margin-top: -10px;
}

#humid-1 {
  display: inline-block;
  margin-left: -10px;
}

#wind-1 {
  display: inline-block;
  margin-left: -5px;
}

#day-1 {
  height: 150px;
  width: 200px;
  color: #fff;
}

#temp-1 {
  font-size: 50px;
  text-align: center;
}

#tempc-1 {
  font-size: 50px;
  text-align: center;
}

#icon-1 {
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 180px;
  height: 180px;
}

.sm-icon {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 5px;
  width: 30px;
  height: 30px;
}

/* Four Day Forecast*/

#flex-2 {
  display: -webkit-flex;
  display: flex;
 -webkit-align-items: center;
         align-items: center;
 -webkit-justify-content: center;
         justify-content: center;
  margin-top: 50px;
}

/*Secondary Day Holder*/

.second-day {
  margin: 0 10px;
  align-items: center;
  height: 175px;
  width: 175px;
  color: #fff;
  text-align: center;
}

.daystyle {
  display: block;
  margin-top: 4px;
  font-size: 18px;
}

p {
  display: inline;
}


/*Day 2*/

#icon-2 {
  display: block;
  margin: -30px auto -15px auto;
  width: 150px;
  height: 150px;
}

/*Day 3*/

#icon-3 {
  display: block;
  margin: -30px auto -15px auto;
  width: 150px;
  height: 150px;
}

/*Day 4*/

#icon-4 {
  display: block;
  margin: -30px auto -15px auto;
  width: 150px;
  height: 150px;
}

/*Day 5*/

#icon-5 {
  display: block;
  margin: -30px auto -15px auto;
  width: 150px;
  height: 150px;
}

/*Media Query*/

@media (max-width: 850px) {

  .main-container {
    overflow: auto;
    width: 275px;

  }

.location {
    margin: 0;
    margin-top: 8px 0 0 0;
    font-size: 32px;
    text-align: center;
}

.date {
    margin: 0;
    text-align: center;
}

.time {
    margin: 0;
    text-align: center;
}

.flex-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: -100px;
  border-bottom: none;
}

#icon-1 {
  display: block;
  margin: auto;
  width: 180px;
  height: 180px;
}

#day-1 {
  margin: 0 auto;
}

  #flex-2 {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
  }

  .daystyle {
    margin-top: 10px;
  }

  .second-day {
    margin: 10px 0;
    align-items: center;
    height: 175px;
    width: 225px;
    color: #fff;
    text-align: center;
    border-top: rgb(255, 255, 255) 1px solid;
  }

}
